.charts{
	/*height: 300px;*/
}

/*comments style start here */
.detailBox {
    border:1px solid #bbb;
    border-radius: 6px;
    /*overflow: overlay;*/
    /*max-height: 870px;*/
}
.titleBox {
    /*background-color:#fdfdfd;*/
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    /*max-height:200px;*/
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:45px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
    overflow-y: auto;
    max-height: 740px;
}
/*comments style ends here*/

#comentFormGroup{
    width: 100%;
}

#sendBtn{
    border-radius: 0px;
}

#comentGroup{
        padding: 10px;
}

.comentWarning{
        padding-left: 10px;
    padding-top: 10px;
    border: solid 1px #BBBBBB;
    margin: -1px;
    background-color: rgba(252, 248, 227, 0.14);
    color: #BBBBBB;
}
